<!DOCTYPE html>
<!-- FORMULARIO CATEGORIAS -->
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:replace="administrador/template_admin :: head">
</head>
<body>
	<header th:replace="administrador/template_admin :: header"></header>
	<div class="container col-lg-8">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/administrador}"
					th:text="'Inicio'"></a></li>
				<li class="breadcrumb-item"><a th:href="@{/categorias}"
					th:text="'Categorias'"></a></li>
				<li class="breadcrumb-item active" aria-current="page"
					th:text="${titulo}"></li>
			</ol>
		</nav>
		<div class="card bg-ligth">
			<div class="card-header bg-dark h3 mb-2 text-white text-center"
				th:text="${titulo}"></div>
			<div class="card-body">
				<!-- FORMULARIO -->
				<form th:action="@{/categorias/save}" th:object=${categoria}
					method="post">
					<!-- ID -->
					<div class="form-group">
						<input th:field="*{id}" id="id" type="hidden" class="form-control"
							placeholder="Escriba su id">
					</div>
					<!-- CATEGORIA -->
					<div class="form-group">
						<label for="nombres" th:text="'Nombre:'"></label> <input
							th:field="*{nombre}" id="nombres" type="text"
							class="form-control" placeholder="Escriba el nombre">
					</div>
					<!-- ESTADO -->
					<div class="form-group">
						<label for="tipo" th:text="'Estado:'"></label> <select
							th:field="*{estado}" id="estado" class="form-control">
							<option th:each="estado:${estado}" th:value="${estado.id}"
								th:text="${estado.nombre}" />
						</select>
					</div>

					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-success" value="Guardar" />
					</div>
				</form>
				<!-- End of FORMULARIO -->
			</div>
			<!-- End of CARDBODY -->
		</div>
		<!-- End of CARD -->
	</div>
	<!-- End of CONTAINER -->
	<!-- Footer -->
	<footer th:replace="administrador/template_admin :: footer"> </footer>
</body>
</html>