<!DOCTYPE html>
<!-- LISTAR CATEGORIA -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container col-lg-6">
		<h1 th:text="${titulo}"></h1>
	</div>
	<div class="container col-lg-6">
		<a class="btn btn-success" th:href="@{/views/categorias/nuevo}"
			th:text="'Nuevo Registro'" title="Crear Nuevo Registro"></a>
	</div>
	<br>
	<div class="container col-lg-6">

		<table class="table" id="dataTable">
			<thead class="thead-dark">
				<tr>
					<th scope="col" th:text="'Codigo'"></th>
					<th scope="col" th:text="'Categor&iacute;a'"></th>
					<th scope="col" th:text="'Estado'"></th>
					<th scope="col" th:text="'Acciones'"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria:${categorias}">
					<td scope="row" th:text="${categoria.id}"></td>
					<td th:text="${categoria.nombre}"></td>
					<td th:text="${categoria.estado.nombre}"></td>
					<td><a class="badge badge-warning badge-sm" th:text="'Editar'"
						title="Editar Registro"
						th:href="@{/views/categorias/editar/}+${categoria.id}"></a> <a
						class="badge badge-danger" th:text="'Eliminar'"
						title="Eliminar Registro"
						th:href="@{/views/categorias/eliminar/}+${categoria.id}"
						th:onclick="eliminar([[${categoria.id}]])"></a></td>
				</tr>
			</tbody>
		</table>
	</div>



	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>