<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<title th:text="'Dashboard - Doggy Style'"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<!-- BARRA DE NAVEGACION -->
	<header th:fragment="header" class="sticky-top">
		<nav class="navbar navbar-expand-lg navbar-dark bg-info">
			<div class="container">
				<a class="navbar-brand" th:href="@{/home}"> <img
					src="/images/logo.png" width="80" height="50" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- CONTROLADORES ADMINISTRADOR -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link text-white" th:href="@{/home}">Inicio</a></li>
					<li class="nav-item"><a class="nav-link text-white" th:href="@{/getCart}">Carrito</a></li>
						
					</ul>
					<form class="form-inline my-2 my-lg-0">
					
						<input class="form-control mr-sm-2" type="search"
							placeholder="Buscar" aria-label="Search">
						<a class="btn btn-dark my-2 my-sm-0" type="submit" th:text="'Cerrar Sesion'" th:href="@{/login}"></a>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<!-- CONTENIDO -->
	<div class="container"></div>


	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer"
		class="sticky-footer bg-dark text-white fixed-bottom">

		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Doggy Style 2021 - Todos los derechos
					reservados</span>
			</div>
		</div>

		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>


	</footer>


</body>
</html>