<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<!-- Page Content -->
    <div class="container">


      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <p class="card-text">Nombre del producto.</p>
            </div>
            <div class="card-footer">
              <a href="productohome.html" class="btn btn-success">Ver producto</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <p class="card-text">Nombre del producto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-success">Ver producto</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <p class="card-text">Nombre del producto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-success">Ver producto</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <p class="card-text">Nombre del producto.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-success">Ver producto</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>