<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<title th:text="'Dashboard - Doggy Style'"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<!-- CONTENIDO -->
	<div class="container col-lg-4">
	
		<div class="card bg-ligth">
		<span class="border border-primary"></span>
			<div class="card-body">
			<h2 class="text-center">Ingresar</h2>
				<form action="#" method="post">
					<div class="form-group">
						<label for="email"> Email: </label> <input type="email"
							class="form-control" id="email" name="email"
							placeholder="Ingrese su email" required autocomplete="off">

					</div>

					<div class="form-group">
						<label for="pwd"> Contraseña:</label> <input type="password"
							class="form-control" id="password" name="password"
							placeholder="Ingrese su contraseña" required>
					</div>

					<div class="form-group">
						<div class="col-sm-2">
							<button type="submit" class="btn btn-dark">
								<span class="glyphicon glyphicon-ok"></span> Ingresar
							</button>
						</div>
					</div>
				</form>
				<a href="registro.html" class="card-link">Si aún no tiene cuenta
					aqui puede registrarse</a>
			</div>
		</div>
	</div>


	<!-- PIE DE PAGINA -->
	<footer th:fragment="footer"
		class="sticky-footer bg-dark text-white fixed-bottom">

		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Doggy Style 2021 - Todos los derechos
					reservados</span>
			</div>
		</div>

		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>


	</footer>


</body>
</html>